[submodule "external/aos_core_lib_cpp"]
	path = external/aos_core_lib_cpp
	url = https://github.com/aosedge/aos_core_lib_cpp.git
[submodule "external/aos_core_api"]
	path = external/aos_core_api
	url = https://github.com/aosedge/aos_core_api.git
